<!DOCTYPE html>
<html>
<head>
    <title>Редактирование маршрута</title>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}" type="text/javascript"></script>
</head>
<body>
    <h1>Редактирование маршрута: {{ route.name }}</h1>

    <!-- Отображение сообщений об ошибках -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="/add_point" method="post">
        <input type="hidden" name="route_id" value="{{ route.id }}">
        <input type="hidden" id="point_id" name="point_id" value="">
        <select name="point_type" id="point_type" onchange="updateForm()">
            <option value="point">Точка маршрута</option>
            <option value="start">Начало маршрута</option>
            <option value="end">Конец маршрута</option>
        </select>
        <input type="text" id="latitude" name="latitude" placeholder="Широта">
        <input type="text" id="longitude" name="longitude" placeholder="Долгота">
        <button type="submit" id="submit_button">Добавить точку</button>
        <button type="button" id="cancel_button" onclick="cancelEdit()" style="display:none;">Отмена</button>
    </form>
    <ul>
        {% for point in points %}
        <li>
            {{ point.point_type }} - ({{ point.latitude }}, {{ point.longitude }})
            <form action="/delete_point/{{ point.id }}" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <div id="map" style="width: 600px; height: 400px;"></div>

    <input type="hidden" id="start_latitude" name="start_latitude" value="">
    <input type="hidden" id="start_longitude" name="start_longitude" value="">
    <input type="hidden" id="end_latitude" name="end_latitude" value="">
    <input type="hidden" id="end_longitude" name="end_longitude" value="">

    <button onclick="window.location.href='/'">Назад</button>

    <script type="text/javascript">
      var routePointsData = {{ point_dicts|tojson }};
    </script>
</body>
</html>
